@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  display: grid;
  height: 100vh;
/*   background: black; */
}

body::before {
  content: "";
  width: 8.5vw;
  background: inherit;
  grid-area: 1/1;
  z-index: 1;
}

body::after {
  content: "";
  width: 8.5vw;
  background: inherit;
  grid-area: 1/1;
  justify-self: end;
  z-index: 1;
}

table {
  display: none;
}

.container {
  display: contents;
}

.logo {
  width: 10vw;
  height: auto;
  position: absolute;
  right: 10vw;
  top: 2vw;
  z-index: 9999;
  filter: blur(1px);
}

.position {
  width: 9rem;
  background: #403f43;
  border-radius: 2rem 0;
  opacity: 1;
  position: absolute;
  right: 11vw;
  top: 50vh;
  z-index: 9999;
  filter: blur(1px);
  color: #e60808;
  font-family: 'Audiowide', cursive;
  font-size: 3rem;
  text-align: center;
}

#player {
  width: var(--width);
  height: 100vh;
  justify-self: center;
  grid-area: 1/1;
}

[data-component=table] {
  display: table;
  background: wheat;
  text-align: center;
}

[data-component=table] td:first-of-type {
  text-align: left;
}

[data-component=table] tr:nth-of-type(odd) {
  background: aliceblue;
}

td:nth-of-type(n+4):nth-of-type(-n+7) {
  border-left: solid black 4px;
}

td:nth-of-type(2),
td:nth-of-type(3) {
  display: none;
}
